# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# files downloaded from dlink
dns325_GPL
ShareCenter Add-On SDK_v2.0_12192011
NAS How-To Guide - ShareCenter Add-On SDK v1.0.docx

# build dirs
lib
include
bin
share
ssl
transmission/apkg.xml

# downloaded files
plugin-icons/logo.png

# generated images
plugin-icons/logo_with_shadow.png
transmission/web/transmission_*.png
