Package:          transmission
Version:          1.03
Packager:         alexey85
Email:
Homepage:         https://github.com/alexey85/dns325-transmission
AddonShowName:    Transmission
AddonIndexPage:   index.html
AddonUsedPort:    9091
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      This is build Transmission BitTorrent Client for D-Link NAS 325 .
